{% extends "Doc_Appoint/layout.html" %}
{% load static %}

{% block body %}
    {% if message %}
        <div class="alert alert-danger">
            <strong>{{message}}</strong>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger">
            <strong>Cannot book an appointment with a date in the past</strong>
        </div>
    {% endif %}
    {% if success %}
        <div class="alert alert-success">
            <strong>Your Appointment has been booked!</strong>
        </div>      
    {% endif %}
    <div class="doc-name">
        <h2 class="lead display-4" style="font-weight: 400">{{doc.doctor_name.username}}</h2>
    </div>
    <div class="doc-details-container">
        <div class="doc-details">
            <div class="details-bg">
                <h3 style="font-weight: 500">Details</h3>
                <div><strong>Id: </strong><span id="doctor_id">{{doc.id}}</span></div>
                <div><strong>Full name: </strong>{{doc.doctor_name.username}}</div>
                <div><strong>Gender: </strong>{{doc.gender}}</div>
                <div class="info"><strong>Education: </strong>{{doc.study}}</div>
            </div>
        </div>
        <div class="doc-details">
            <h3 style="font-weight: 500">Place of Practice</h3>
            <div class="info"><strong>Primary Location: </strong>{{doc.address}}</div>
            <div><strong>Phone: </strong>{{doc.phone_number}}</div>
            <div><strong>Email: </strong>{{doc.doctor_name.email}}</div>
            <div><strong>Operating hours: </strong>{{doc.service_time_from}} to {{doc.service_time_to}}</div>
        </div>
        <div class="doc-details">
            <h3 style="font-weight: 500">Services Provided</h3>
            <div><strong>Speciality: </strong>{{doc.services}}</div>
        </div>
    </div>

    {% if not exists %}
    <!-- booking appointment form -->
    <div class="doc-details" id="appointment-form">
        <div class="doc-book-app">
            <h3 style="font-weight: 500">Book your Appointment</h3>
        </div>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="app-date"><strong>Select Date:</strong></label>
                <input id="select-date" class="form-control" type="date" name="app-date" required>
            </div>
            <div class="form-group">                
                <label class="control-label" for="booking"><strong>Choose appointment time:</strong></label>
                <select class="custom-select" name="booking" id="booking" required>
                    <option value="" selected>Select time</option>
                    {% for t in booking_times %}
                        <option value="{{t}}">{{t}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="next-steps-form-buttons">
                <input class="btn" type="submit" value="Confirm Booking">
                <input class="btn" type="reset" value="Reset">
            </div>
        </form>
    </div>
    {% else %}
        <div class="alert alert-success">
            <strong>Your appointment has been confirmed for {{exists.appointment_date}} at {{exists.appointment_time}}</strong>
        </div> 
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'Doc_Appoint/booking.js' %}"></script>
{% endblock %}

