{% extends "Doc_Appoint/layout.html" %} 

{% block body %}
<div class="hero">
  <div class="hero-heading-container">
    <div>
      <h1 id="hero-heading">Connecting the right doctors with you.</h1>
    </div>
    <div>
      {% if user.is_authenticated %}
        {% if user.user_type == 'PR' %}
          <a href="{% url 'dashboard-personal' %}"
            ><button style="margin: 10px 0 0 0" class="btn">Go to Dashboard</button></a
          >
        {% else %}
          <a href="{% url 'dashboard-doctor' %}"
          ><button style="margin: 10px 0 0 0" class="btn">Go to Dashboard</button></a
          >
        {% endif %}
      {% else %}
        <a href="{% url 'select' %}"
          ><button style="margin: 10px 0 0 0" class="btn">Get Started</button></a
        >
      {% endif %}
    </div>
  </div>
  <div class="hero-image-container">
    <img class="hero-image image-fluid" src="./static/Doc_Appoint/hero image.svg" />
  </div>
</div>
<div class="px-2 py-3 my-5 text-center">
  <h1 class="display-5 fw-bold">Who are we?</h1>
  <div class="col-lg-8 mx-auto">
    <p class="lead mb-4">
      We are a platform that makes it easier to book appoitments with your local
      doctors. Using pen and paper for managing appointments in this digital era 
      is a little old school. So we decided to change it. 
    </p>
  </div>
</div>
<div class="working">
  
</div>

<div>

</div>

{% endblock %}

{% block footer %}
    <footer>
        <a href="{% url 'index' %}">
        <img src="./static/Doc_Appoint/Doc Appoint_logo_v2.png" width="30" height="30" alt="doc_appoint_logo">
        </a>
        <div>
        <p>© Doc Appoint, 2022</p>
        </div>
    </footer>
{% endblock %}