{% extends "Doc_Appoint/layout.html" %}
{% load socialaccount %}

{% block body %}
    <div class="login-wrapper">
        <div class="login-container">
            <div>
                <h4 class="lead p-sub-heading">Login with your email or username</h4>
            </div>
            <div class="login-form">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input autofocus class="form-control" type="text" name="username" placeholder="Username or Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password">
                    </div>
                    <input class="btn" type="submit" value="Login">
                </form>           
            </div>
            <!-- <div>
                <p style="text-align: center;">or</p>
            </div> -->
            <!-- <div class="google">
                <a href="{% provider_login_url 'google' %}"><button class="btn btn-google"><span>Continue with </span><img src="./static/Doc_Appoint/icons8-google.png"></button></a> 
            </div> -->
            <div class="login-new-account">
                <p>New here? <a href="{% url 'select' %}">Create an account</a></p>
            </div>
        </div>
    </div>
{% endblock %}