{% extends "Doc_Appoint/layout.html" %}
{% load socialaccount %}

{% block body %}
    {% if message %}
        <div class="alert alert-danger">
            <strong>{{message}}</strong>
        </div>
    {% endif %}
    <div class="login-wrapper">
        <div class="login-container">
            <div>
                <h4 class="p-sub-heading lead">Register with your email</h4>
            </div>
            <div class="login-form">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control" autofocus type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" placeholder="Email Address" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password" required>
                    </div>
                    <input class="btn" type="submit" value="Register">
                </form>          
            </div>
            <div>
                <p style="text-align: center;">or</p>
            </div>
            <div class="google">
                <a href="{% provider_login_url 'google' %}"><button class="btn btn-google"><span>Continue with </span><img src="../../static/Doc_Appoint/icons8-google.png"></button></a> 
            </div>
            <div class="login-new-account">
                <p>Already have and account? <a href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>
{% endblock %}